    
    <table class="table table-bordered mt-5 w-25 m-auto align-middle text-center">
        <tbody>
            <tr class="">
                <td #td1 id="td1" (click)="playGame(td1)"></td>
                <td #td2 id="td2" (click)="playGame(td2)"></td>
                <td #td3 id="td3" (click)="playGame(td3)"></td>
            </tr>
            <tr class="">
                <td #td4 id="td4" (click)="playGame(td4)"></td>
                <td #td5 id="td5" (click)="playGame(td5)"></td>
                <td #td6 id="td6" (click)="playGame(td6)"></td>
            </tr>
            <tr>
                <td #td7 id="td7" (click)="playGame(td7)"></td>
                <td #td8 id="td8" (click)="playGame(td8)"></td>
                <td #td9 id="td9" (click)="playGame(td9)"></td>
            </tr>
          </tbody>  
    </table>
